<ion-view view-title="{{'about.header' | translate}}">
    <ion-content>
        <ng-map center="[19.0479618,-98.2166959]" zoom='17' style="height:240px">
            <marker position="19.047918, -98.216632" title="UPAEP"></marker>
        </ng-map>
        <div class="padding-top">
            <div class="padding">
                <button class="button button-block icon-right ion-navigate" ng-click="launchNavigator()">{{'about.button_drive' | translate}}</button>
                <button class="button button-block icon-right ion-wifi" ng-click="wifiSettings()">{{'about.button_wifi' | translate}}</button>
                <button class="button button-block icon-right ion-social-twitter" ng-click="twitter()">#conisoft2016</button>
            </div>
        </div>
    </ion-content>
</ion-view>
