<ion-view view-title="{{'contact.header' | translate}}">
    <ion-content>
        <div class="padding">
        <div>
            <button class="button button-block icon-right ion-wifi" ng-click="wifiSettings()">{{'about.button_wifi' | translate}}</button>
            <button class="button button-block icon-right ion-social-twitter" ng-click="twitter('conisoft2016')">#conisoft2016</button>
         </div>
        
          <div class="padding-top">
            <button class="button button-block icon-right ion-ios-telephone" onclick="window.location.href='tel: +5212225242892' ">{{'contact.button_call' | translate}}</button>
            <button class="button button-block icon-right ion-ios-email" ng-click="sendEmail()">{{'contact.button_mail' | translate}}</button>
           </div>
           
             <div class="padding-top">
            <button class="button button-block button-calm icon-right ion-code" ng-click="developersInfo()">{{'about.button_devs' | translate}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>
