<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-positive">
   
    <!-- <div class="buttons">
      <button class="button" ng-click="doSomething()">Left Button</button>
    </div>
    <h1 class="title">{{'login.country_header' | translate}}</h1>
    <div class="buttons">
      <button class="button">Right Button</button>
    </div> -->

    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>



  </ion-header-bar>
  <ion-content>
    <div class="list card" ng-repeat="country in countries">
    
      <a ng-click="countrySelected(country.$id,country)" class="item item-icon-left">
        <i class="icon ion-home"></i>
        {{country.name.common}}
      </a>
    
    
    </div>
  </ion-content>
</ion-modal-view>