<ion-view view-title="Agenda" class="top-menu-default">
    <ion-content delegate-handle="home_items" class="home-bg">
        <img id="home-cover" src="img/cover1.jpg" class="full-image"/>
        <div style="margin-top:-45%;" class="text-center">
               <a class=" button-icon icon ion-ios-arrow-thin-down light" ng-click="home_scroll()" href="javascript:void(0);"></a>

        </div>
        <div id="home-items" class="text-center home-links" style="padding-top:30%; padding-bottom:10px;">
            
                    <ion-item class="home-items" menu-close href="#/app/schedule">
                        <i ng-show="isItemActive('/app/schedule')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.schedule' | translate}}
                    </ion-item>
                    <ion-item class="home-items" menu-close href="#/app/speakers">
                        <i ng-show="isItemActive('/app/speakers')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.speakers' | translate}}
                    </ion-item>
                    <ion-item class="home-items" menu-close href="#/app/about">
                        <i ng-show="isItemActive('/app/about')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.about' | translate}}
                    </ion-item>
                    <ion-item class="home-items" class="item-icon-left" menu-close href="#/app/contact">
                        <i ng-show="isItemActive('/app/contact')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.contact' | translate}}
                    </ion-item>
                    
                    <ion-item class="home-items" menu-close href="#/app/register"><i ng-show="isItemActive('/app/register')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.register' | translate}}
                    </ion-item>
                    <!-- <ion-item class="home-items" menu-close href="#/app/recomendations">
                        <i ng-show="isItemActive('/app/recomendations')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.recomendations' | translate}}
                    </ion-item> -->
                    <ion-item class="home-items" menu-close href="javascript:void(0);" ng-click="logout()" ng-show="flag" style="color: #fff !important; font-size: 20px;">
                        <i ng-show="isItemActive('/app/logout')" class="icon ion-ios-arrow-thin-right"></i>Log Out
                    </ion-item>
                    <ion-item class="home-items" menu-close ng-click="logout()" ng-hide="flag" style="color: #fff !important; font-size: 20px;">
                        Log In
                    </ion-item>
               
        </div>
    </ion-content>
</ion-view>