
<ion-view view-title="Log in">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <form class="list" name="form.login" novalidate>
            <ion-list >

                <label class="item item-input  item-stacked-label" ng-class="{ 'has-error-red' : form.login.email.$invalid  && form.login.email.$touched || form.login.email.$invalid && form.login.$submitted}">
                    <span class="input-label">Email</span>
                    <input name="email" type="email" placeholder="juan@mail.com" ng-model="user.email" required>
                    <div class="form-errors" ng-messages="form.login.email.$error" ng-if="form.login.email.$touched && form.login.email.$invalid">
                                <div class="form-error-red" ng-message="required">Required</div>
                    </div>
                </label>
                <label class="item item-input  item-stacked-label" ng-class="{ 'has-error-red' : form.login.password.$invalid  && form.login.password.$touched || form.login.password.$invalid && form.login.$submitted}">
                    <span class="input-label">Password</span>
                    <input name="password" type="password" placeholder="*****" ng-model="user.password" required>
                    <div class="form-errors" ng-messages="form.login.name.$error" ng-if="form.login.password.$touched && form.login.password.$invalid">
                                <div class="form-error-red" ng-message="required">Required</div>
                    </div>
                </label>

            </ion-list>
            
            <div>
                <button class="button button-stable button-block " ng-click="login(user)" ng-disabled="form.login.$invalid">Log in</button>
                <a  class="button button-positive button-clear button-block " style="font-size: small;!important" ng-click="openRecoveryPasswordModal()">{{'login.recovery_button' | translate}}</a>    
            </div>
            <div class="spacer" style="height: 10px;"></div>

            <a href="#/signup" class="button button-positive button-clear button-block " ng-click="openModal()">{{'login.recovery_register_button' | translate}}</a>
        </form>
    </div>
  </ion-content>
</ion-view>

