<style type="text/css">
#ios-background:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('img/bg-1.jpg');
    background-size: 90%;
    margin-top: -40px;
    margin-left: -40px;
    width: 120%;
    height: 120%;
}

#ios-behind,
#ios-background {
    position: absolute;
}

#ios-background {
    filter: blur(10px) brightness(0.90);
    -webkit-filter: blur(10px) brightness(0.90);
}

.menu-top {
    top: 25px;
}
.ios-menu .item .item-content,
.ios-menu .item,
.ios-menu .icon,
.ios-menu .menu-close {
    background-color: transparent;
    color: #fff;
    border-style: none;
}
</style>
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-ios-drag" menu-toggle="left" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-ios-close-empty' : 'ion-ios-drag'">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear" menu-toggle="right" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-ios-close-empty' : ''">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <!--Menu Left-->
    <ion-side-menu side="left" id="ios-behind">
        <div id="ios-background"></div>
        <div class="ios-menu">
            <ion-content class="menu-top ">
                <ion-list>
                    <ion-item class="item-icon-left" menu-close href="#/app/schedule">
                        <i ng-show="isItemActive('/app/schedule')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.schedule' | translate}}
                    </ion-item>
                    <!-- <ion-item class="item-icon-left" menu-close href="#/app/myschedule">
                        <i ng-show="isItemActive('/app/myschedule')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.favorites' | translate}}
                    </ion-item> -->
                    <ion-item class="item-icon-left" menu-close href="#/app/speakers">
                        <i ng-show="isItemActive('/app/speakers')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.speakers' | translate}}
                    </ion-item>
                    <ion-item class="item-icon-left" class="item-icon-left" menu-close href="#/app/contact">
                        <i ng-show="isItemActive('/app/contact')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.contact' | translate}}
                    </ion-item>
                    <ion-item class="item-icon-left" menu-close href="#/app/about">
                        <i ng-show="isItemActive('/app/about')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.about' | translate}}
                    </ion-item>
                    <ion-item class="item-icon-left" menu-close href="#/app/register">
                        <i ng-show="isItemActive('/app/register') || sItemActive('/reference')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.register' | translate}}
                    </ion-item>
                    <ion-item class="item-icon-left" menu-close href="#/app/recomendations">
                        <i ng-show="isItemActive('/app/recomendations')" class="icon ion-ios-arrow-thin-right"></i> {{'menu.recomendations' | translate}}
                    </ion-item>
                    <ion-item class="item-icon-left" menu-close href="javascript:void(0);" ng-click="logout()" ng-show="flag">
                        <i ng-show="isItemActive('/app/logout')" class="icon ion-ios-arrow-thin-right"></i>Log Out
                    </ion-item>
                    <ion-item class="item-icon-left" menu-close href="javascript:void(0);" ng-click="logout()" ng-hide="flag">
                        <i ng-show="isItemActive('/app/logout')" class="icon ion-ios-arrow-thin-right"></i>Log In
                    </ion-item>
                </ion-list>
            </ion-content>
        </div>
    </ion-side-menu>
    <!--Menu Right-->
    <ion-side-menu side="right" class="menu-bg">
        <ion-header-bar class="bar-dark">
            <h1 class="title">{{'menu.favorites' | translate}}</h1>
        </ion-header-bar>
        <ion-content>
        
            <ion-list class="group">
                <div  ng-repeat="(key, value) in conferences | groupBy:'date'">
                    <!--======================= Group Day =====================-->
                    <div class="item item-divider date-divider" ion-affix data-affix-within-parent-with-class="group">
                        {{key | date:'mediumDate'}}
                    </div>
                    <!--======================= Item List =====================-->
                    <div class="item conference" ng-repeat="conference in value | orderBy:{startTime:hour }" ng-click="goToDetailEvent(conference.$id)">
                        <a class="item item-icon-right" href="#">
                            {{conference.name}}
                            <i class="icon ion-ios-heart" style="font-size: 18px"></i>
                        </a>
                    </div>
                </div>
                <div ng-repeat-end=""></div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
