<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button icon-left ion-close" ng-click="cancel()"></button>
    </div>
    <h1 class="title center">{{'reference.reference_header' | translate}}</h1>
  </ion-header-bar>
  
  <ion-content>
  <div class="list">
        <label class="item item-input">
            <span class="input-label">{{'register.scholarship' | translate}}</span>
            <input type="text" ng-model="number.scholarship">
        </label>
        <button class="button button-assertive" ng-click="addScholarship(number.scholarship)" ng-disabled="!number.scholarship">{{'register.button' | translate}}</button>
    </div>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">{{'register.number' | translate}}</span>
            <input type="text" ng-model="number.referenceNumber">
        </label>
        <button class="button button-assertive" ng-click="addReference(number.referenceNumber)" ng-disabled="!number.referenceNumber">{{'register.button' | translate}}</button>
    </div>


  </ion-content>
</ion-modal-view>