<ion-view view-title="{{'register.header' | translate}}">
            <button class="button button-clear button-light button-icon icon"></button>

    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()" spinner="lines" pulling-icon="ion-ios-arrow-thin-down"> </ion-refresher>
        <div class="qr-container">
            <qrcode class="qrCode" data="{{user.$id}}" size="190" ng-hide="user.profilePicture"></qrcode>
            <img class="profile-pic" data-ng-src="data:image/png;base64,{{user.profilePicture}}" ng-show="user.profilePicture">
        </div>
        <div class="list padding user-status" ng-hide="user.scholarship">
            <div class="item speake-divider">{{'register.number' | translate}}: </div>
            <div class="item border-none">
                <span ng-class="{ 'green': user.payment.referenceNumber }">{{user.payment.referenceNumber}}</span>
            </div>
            <div class="item speake-divider">{{'register.status' | translate}}: </div>
            <div class="item border-none">
                <span ng-class="{ 'green': user.payment.paymentStatus ==1 }">{{user.payment.paymentStatus | paymentStatus}}</span>
            </div>
            <div class="item speake-divider">{{'register.kit' | translate}}: </div>
            <div class="item border-none">
                <span ng-class="{ 'green': user.payment.kitDelivered }">{{user.payment.kitDelivered | kitStatus}}</span>
            </div>
        </div>
        <div class="list padding green" ng-show="user.scholarship">
        <div class="item speake-divider">{{'register.status' | translate}}:</div>
            <div class="item green border-none">
                <span>{{'register.scholarship' | translate}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>
