<ion-modal-view>
  <ion-header-bar class="bar bar-dark header-item bar-header">
        <h1 class="title ng-binding">{{'reset.reset_header' | translate}}</h1>
    </ion-header-bar>

   <ion-content class="">
    <form class="list" name="form.recovery" novalidate>
            <div class="list list-inset input-login">
                <label class="item item-input  item-floating-label" ng-class="{ 'has-error-red' : form.recovery.email.$invalid  &amp;&amp; form.recovery.email.$touched || form.recovery.email.$invalid &amp;&amp; form.recovery.$submitted}">
                   
                    <input class="input-reset ng-pristine ng-untouched ng-invalid ng-invalid-required" name="email" type="password" placeholder="{{'reset.new_password' | translate}}" ng-model="userEmail" required="{{'loading.required' | translate}}">
                    <!-- ngIf: form.recovery.email.$touched && form.recovery.email.$invalid -->
                </label>
                <label class="item item-input  item-floating-label" ng-class="{ 'has-error-red' : form.recovery.email.$invalid  &amp;&amp; form.recovery.email.$touched || form.recovery.email.$invalid &amp;&amp; form.recovery.$submitted}">

                    <input class="input-reset ng-pristine ng-untouched ng-invalid ng-invalid-required" name="email" type="password" placeholder="{{'reset.repeat' | translate}}" ng-model="userEmail" required="{{'loading.required' | translate}}">
                    <!-- ngIf: form.login.email.$touched && form.login.email.$invalid -->
                </label>
            </div>

            <div class="padding">
            <button class="button button-dark button-block icon-right ion-ios-locked-outline ng-binding" ng-click="resetPassword(userEmail)" ng-disabled="form.recovery.$invalid" disabled="disabled">Create new Password</button>
             </div>    
        </form>
  </div>
  </ion-content>

</ion-modal-view>