<ion-modal-view>
    <ion-header-bar class="bar bar-calm header-item bar-header">
        <h1 class="title ng-binding">{{'reset.reset_header' | translate}}</h1>
    </ion-header-bar>
    <ion-content class="">
        <form name="form.recovery" novalidate>
            <div class="padding">
                <div class="item speake-divider">
                    {{'reset.new_password' | translate}}
                </div>
                <label class="item item-input item-input-label border-none">
                    <input class="input-reset" type="password" placeholder="{{'reset.new_password' | translate}}" ng-model="review.comment" required="{{'loading.required' | translate}}" ng-model="userEmail">
                </label>
            </div>
            <div class="padding">
                <div class="item speake-divider">
                    {{'reset.repeat' | translate}}
                </div>
                <label class="item item-input item-input-label border-none">
                    <input class="input-reset" type="password" placeholder="{{'reset.repeat' | translate}}" ng-model="review.comment" required="{{'loading.required' | translate}}" ng-model="userEmail">
                </label>
            </div>
            <div class="padding">
                <button class="button button-dark button-block icon-right ion-ios-locked-outline ng-binding" ng-click="resetPassword(userEmail)" ng-disabled="form.recovery.$invalid" disabled="disabled">Create new Password</button>
            </div>
        </form>
        </div>
    </ion-content>
</ion-modal-view>
