<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title center">{{'reset.reset_header' | translate}}</h1>
  </ion-header-bar>

   <ion-content>
    <form class="list" name="form.recovery" novalidate>
            <ion-list >
                <label class="item item-input  item-stacked-label" ng-class="{ 'has-error-red' : form.recovery.email.$invalid  && form.recovery.email.$touched || form.recovery.email.$invalid && form.recovery.$submitted}">
                    <span class="input-label">pass1</span>
                    <input name="email" type="text" placeholder="juan@mail.com" ng-model="userEmail" required>
                    <div class="form-errors" ng-messages="form.login.email.$error" ng-if="form.recovery.email.$touched && form.recovery.email.$invalid">
                                <div class="form-error-red" ng-message="required">Required</div>
                    </div>
                </label>
                <label class="item item-input  item-stacked-label" ng-class="{ 'has-error-red' : form.recovery.email.$invalid  && form.recovery.email.$touched || form.recovery.email.$invalid && form.recovery.$submitted}">
                    <span class="input-label">pass1</span>
                    <input name="email" type="text" placeholder="juan@mail.com" ng-model="userEmail" required>
                    <div class="form-errors" ng-messages="form.login.email.$error" ng-if="form.login.email.$touched && form.login.email.$invalid">
                                <div class="form-error-red" ng-message="required">Required</div>
                    </div>
                </label>
            </ion-list>

            <button class="button button-stable button-block " ng-click="resetPassword(userEmail)" ng-disabled="form.recovery.$invalid">Reset</button>
                
        </form>
  </ion-content>

</ion-modal-view>