<ion-view view-title="Schedule">
  <ion-content>
    <h4> {{ 'schedule.month' | translate}} 2016 </h4>
    <div class="button-bar">
      <a class="button" ng-click="selectDay(1461733200000)">26</a>
      <a class="button" ng-click="selectDay(1461819600000)">27</a>
      <a class="button" ng-click="selectDay(1461906000000)">28</a>
    </div>
    <ion-list>
      <ion-item class="item item-divider" ng-repeat-start="(hour, conferences) in conferences ">
        {{hour}}
      </ion-item>
      <ion-item ng-repeat="conference in conferences | filter:{ day : theDay }" ng-click="goToDetailEvent(conference.$id)">
          {{conference.name}}
          <p ng-repeat="speaker in conference.speakers"> {{'schedule.by_speaker' | translate}} {{speaker.name}} {{speaker.surname}} </p>
          <p> {{conference.location}} </p>
      </ion-item>
      <div ng-repeat-end=""></div>
      
      
    </ion-list>
  </ion-content>
</ion-view>
