
<ion-view view-title="Schedule">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <h4> {{ 'schedule.month' | translate}} 2016 </h4>
    <div class="button-bar">
      <a class="button" ng-click="selectDay(1461733200000)">27</a>
      <a class="button" ng-click="selectDay(1461819600000)">28</a>
      <a class="button" ng-click="selectDay(1461906000000)">29</a>
    </div>
    <ion-list >
      <div ng-repeat="hour in hours">
        <ion-item class="item item-divider" >
        {{hour}}:00 Hrs
        </ion-item>
  
        <div class="item" ng-repeat="conference in conferences | filter:{ date : theDay, startTime:hour }"  ng-click="goToDetailEvent(conference.$id)">
          <div>
            {{conference.name}}
            <div class="icon-list-item" ng-if="user.mySchedule[conference.$id]"><i class="ion-checkmark-circled"></i></div>
          </div>
          <div ng-repeat="speaker in conference.speakers">
            <p> {{'schedule.by_speaker' | translate}} {{speaker.name}} </p>
          </div>
          <p> {{conference.location}} </p>
        </div>


        
      </div>
      
      

    </ion-list>
    <div ng-repeat-end=""></div>


  </ion-content>
</ion-view>
