<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <button class="button button-icon icon ion-ios-arrow-thin-left" ng-click="closeCountryModal()"></button>
        <h1 class="title center">{{'login.country_header' | translate}}</h1>
        <button class="button button-icon icon ion-ios-search" ng-click="showFilterBar()"></button>
        </div>
    </ion-header-bar>
    <ion-content delegate-handle="countryScroll">

        <div class="list padding">
            <a class="item item-icon-right border-none" id="{{country.name.common}}" ng-repeat="country in countries" ng-click="countrySelected(country.$id,country)">
                <i class="icon ion-ios-arrow-thin-right"></i> {{country.name.common}}
            </a>
        </div>
       
     
    </ion-content>
</ion-modal-view>
