<ion-modal-view>
    <ion-header-bar class="bar bar-calm header-item">
        <button class="button button-clear button-light button-icon icon ion-ios-close-empty pull-right" ng-click="closeDevelopersInfoModal()"></button>
        <h1 class="title">{{'about.developers_header' | translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list padding">
            <div class="item item-icon-right border-none" ng-click="twitter('eduardosanzb')">
                <h2>{{'about.leader' | translate}}</h2>
                <i class="icon ion-social-twitter calm"></i> @eduardosanzb
            </div>

            <div class="item item-icon-right border-none" ng-click="twitter('erickFrancisco')">
                <h2>{{'about.member' | translate}}</h2>
                <i class="icon ion-social-twitter calm"></i> @erickFrancisco
            </div>

            <div class="item item-icon-right border-none" ng-click="twitter('iAlexSanz')">
                <h2>{{'about.design' | translate}}</h2>
                <i class="icon ion-social-twitter calm"></i> @iAlexSanz
            </div>
            
           
        </div>
    </ion-content>
</ion-modal-view>
