<ion-modal-view>
    <ion-header-bar class="bar bar-dark header-item">
                <button class="button button-clear button-light button-icon icon"></button>

        <h1 class="title">{{'login.recovery_header' | translate}}</h1>
        <button class="button button-clear button-light" ng-click="closeRecoveryPasswordModal()">Close</button>
    </ion-header-bar>
    <ion-content class="menu-bg">
        <form class="list" name="form.recovery" novalidate>
            <div class="list list-inset input-login">
                <label class="item item-input item-floating-label in-label" ng-class="{ 'has-error-red' : form.recovery.email.$invalid  && form.recovery.email.$touched || form.recovery.email.$invalid && form.recovery.$submitted}">
                    <input class="input-login" name="email" type="email" placeholder="{{'login.email_label' | translate}}" ng-model="userEmail" required>
                    <div class="form-errors" ng-messages="form.recovery.email.$error" ng-if="form.recovery.email.$touched && form.recovery.email.$invalid">
                        <div class="form-error-red" ng-message="required">{{'loading.required' | translate}}</div>
                    </div>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-light icon-right ion-ios-refresh-empty" ng-click="resetPassword(userEmail)" ng-disabled="form.recovery.$invalid">{{'login.recovery_button' | translate}}</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
