<ion-modal-view>
  <ion-header-bar>
    <button ng-click="closeModal()" class="button button-clear">
      <i ng-if="selectModalSlider.currentIndex() == 0" class="icon ion-close-round"></i>
      <i ng-if="selectModalSlider.currentIndex() > 0" class="icon ion-chevron-left"></i>
    </button>
    <h1 class="title">Select something</h1>
    <button ng-click="createUser()" class="button button-balanced" ng-disabled=" user.afiliation == null ">
      <i class="icon ion-checkmark-round"></i>
    </button>
  </ion-header-bar>

  <ion-content class="has-header has-footer">
  <ion-slide-box delegate-handle="modalSlider" show-pager="false">
    <ion-slide class="padding">      
          <form role="form" name="firstPage" novalidate="">      
                <label class="item item-input  item-stacked-label" ng-class="{ 'has-error-red' : (firstPage.name.$invalid  && firstPage.name.$touched) }">
                    <span class="input-label">{{ 'login.name_header' | translate }}</span>
                    <input name="name" type="text" placeholder="{{ 'login.name_placeholder' | translate }}" ng-model="user.name" required="">
                    <div class="form-errors" ng-messages="firstPage.name.$error" ng-if="firstPage.name.$touched && firstPage.name.$invalid">
                                <div class="form-error-red" ng-message="required">Required</div>
                    </div>
                </label>
                
                <label class="item item-input  item-stacked-label" ng-class="{ 'has-error-red' : (firstPage.email.$invalid  && firstPage.email.$touched) }">
                    <span class="input-label">{{ 'login.email_label' | translate }}</span>
                    <input name="email" type="text" placeholder="{{ 'login.email_placeholder' | translate }}" ng-model="user.email" required="">
                    <div class="form-errors" ng-messages="firstPage.name.$error" ng-if="firstPage.email.$touched && firstPage.email.$invalid">
                                <div class="form-error-red" ng-message="required">Required</div>
                    </div>
                </label>
                <label class="item item-input  item-stacked-label" ng-class="{ 'has-error-red' : (firstPage.password.$invalid  && firstPage.password.$touched) }">
                    <span class="input-label">{{ 'login.password_label' | translate }}</span>
                    <input name="password" type="password" placeholder="{{ 'login.password_placeholder' | translate }}" ng-model="user.password" required="">
                    <div class="form-errors" ng-messages="firstPage.name.$error" ng-if="firstPage.password.$touched && firstPage.password.$invalid">
                                <div class="form-error-red" ng-message="required">Required</div>
                    </div>
                </label>
                <button class="button button-stable button-block " ng-click="nextPage(user)" ng-disabled="firstPage.$invalid">Next Page</button>
            </form>
          </ion-slide>


          <ion-slide class="padding">
          <form role="form" name="secondPage" novalidate="">      
                <label class="item item-input  item-stacked-label" ng-click="openCountryModal()">
                    <span class="input-label">{{ 'login.country_label' | translate }}</span>
                    <a ng-model="user.country" required>{{user.country}}</a>
                </label>
                <label class="item item-input  item-stacked-label" ng-if="mxFlag" ng-click="openStateModal()" >
                    <span class="input-label">{{ 'login.state_label' | translate }}</span>
                    <a ng-show="mxFlag" ng-model="user.state"> {{user.state}} </a>
                </label>
                <label class="item item-input  item-stacked-label" ng-class="{ 'has-error-red' : (secondPage.afiliation.$invalid  && secondPage.afiliation.$touched )}">
                    <span class="input-label">{{ 'login.afiliation_label' | translate }}</span>
                    <input name="afiliation" type="text" placeholder="UPAEP" ng-model="user.afiliation" required>
                    <div class="form-errors" ng-messages="secondPage.afiliation.$error" ng-if="secondPage.afiliation.$touched && secondPage.afiliation.$invalid">
                                <div class="form-error-red" ng-message="required">Required</div>
                    </div>
                </label>
            </form>

          </ion-slide>
        </ion-slide-box>
  </ion-content>
</ion-modal-view>

