
<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <button class="button button-icon icon ion-ios-arrow-thin-left" ng-click="closeStateModal()"></button>
        <h1 class="title center">{{'login.state_header' | translate}}</h1>
        <!--         <button class="button button-icon icon ion-ios-search" ng-click="showFilterBar()"></button>
 -->
        </div>
    </ion-header-bar>
    <ion-content delegate-handle="stateScroll">
        <div class="list padding">
            <a class="item item-icon-right border-none" id="{{state.nombre}}" ng-repeat="state in states"ng-click="stateSelected(state)"
                <i class="icon ion-ios-arrow-thin-right"></i> {{state.nombre}}
            </a>
        </div>
    </ion-content>
</ion-modal-view>
