<ion-view view-title="Speakers Detail">
<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button icon-left ion-chevron-left" ng-click="goToPrevState()"></button>
  </div>
  <h1 class="title">{{ 'detailSpeaker.header' | translate}}</h1>
</ion-header-bar>
  <ion-content>
    <div class="speaker-detail-header">
      <img data-ng-src="data:image/png;base64,{{speaker.picture}}"><br>
      <h2>{{speaker.name}}</h2>
    </div>
    <div class="list">
      <div class="item item-divider">Description</div>
      <div class="speaker-description-container">{{speaker.description}}</div>
    </div>
    <div>
      <div class="item item-divider">Sessions</div>
      <div class="item" ng-repeat="conference in speaker.conferences"  ng-click="goToDetailEvent(conference.$id)" ng-class="{disabled: flagStop}">
          <div>
            {{conference.name}}
            <div class="icon-list-item" ng-if="user.mySchedule[conference.$id]"><i class="ion-checkmark-circled"></i></div>
          </div>
          <p> {{conference.location}} </p>
        </div>
    </div>
    
  </ion-content>
</ion-view>
