<ion-view>
    <ion-header-bar class="bar bar-calm header-item">
        <button class="button button-icon icon ion-ios-arrow-thin-left" ng-click="goToPrevState()"></button>
        <h1 class="title">{{ 'detailEvent.header' | translate}}</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="event-detail-container">
            <h2>{{event.name}}</h2>
            <h3>{{event.date | date:'EEEE dd MMMM yyyy'}}</h3>
            <h4>{{event.location}}</h4>
        </div>
        <div class="item item-body description-container">
            {{event.description}}
        </div>
        <div class="padding">
            <button ng-click="choose(eventId, user.mySchedule[eventId] )" ng-class="!user.mySchedule[eventId] ? 'button icon-right button-block button-calm ion-ios-heart-outline' : 'button icon-right button-block button-outline button-assertive ion-ios-close-outline'" ng-show="user" >
                <span ng-if="user.mySchedule[eventId]">{{'detailEvent.remove_button' | translate}}</span>
                <span ng-if="!user.mySchedule[eventId]">{{'detailEvent.add_button' | translate}}</span>
            </button>

            <button class="button button-block button-outline icon-right ion-ios-star" ng-click="openReviewModal()" ng-show="user" ng-disabled="user.conferencesReviewed[eventId]" ng-class="user.conferencesReviewed[eventId] ? 'button-stable' : 'button-calm'" >
                {{'detailEvent.review_button' | translate}}
            </button>
           
        </div>
        <div class="list padding">
            <div class="item speake-divider">
                {{'detailEvent.speaker_divider' | translate}}
            </div>
            <div class="item item-thumbnail-left border-none item-icon-right" ng-repeat="speaker in speakers" ng-click="goToDetailSpeaker(speaker.$id)" ng-class="{disabled: flagStop}">
                <img data-ng-src="data:image/png;base64,{{speaker.picture}}" ng-if="speaker.picture">
                <img src="/img/default-profile.png" ng-if="!speaker.picture">
                <h2>{{speaker.name}}</h2>
                <div class="spk">{{speaker.description}}</div>
                <i class=" icon ion-ios-arrow-thin-right calm"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
